 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

[src]{
    width: 100%;
    height: 250px;
    /* padding: 8px;
    margin: 16px; */
}

ul {
    list-style-type: none;
    padding: 0;
}


a, .hero-text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}

/* Logo and links */
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 8px; */
    margin: 0 auto 32px; 
    /* width: 50%; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    width: 25%;
}

.header {
    background-color: #1f2937;

}

.links {
    display: flex;
    justify-content: flex-end;
    /* justify-content: center; */
    gap: 24px;
    width: 25%;
}

/* Image and title */

.hero {
    display: flex;
    gap: 16px;
    /* padding: 8px; */
    justify-content: center;
    align-items: center;
    margin: 0 auto 32px;  
    width: auto;
}

.information {
  /* padding: 8px;   */
  width: 24%;
  /* flex: 0; */
  display: flex;
  flex-direction: column;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    flex-shrink: 1;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}

.hero-text {
    padding-bottom: 8px;
}

.button {
    background-color: #3882f6;
    border-radius: 5px;
    border: solid 0px;
    color: white;
    padding: 8px 24px;
    width: 25%;
    flex-shrink: 0;
}