 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.image {
    width: 100%;
    height: 250px;
    /* padding: 8px;
    margin: 16px; */
}

ul {
    list-style-type: none;
    padding: 0;
}


a, .hero-text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;

}

/* Logo and links */
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 8px; */
    margin: 0 auto 50px; 
    /* width: 50%; */
    min-width: 320px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    width: 25%;
}

.header {
    background-color: #1f2937;

}

.links {
    display: flex;
    justify-content: flex-end;
    /* justify-content: center; */
    gap: 24px;
    width: 25%;
}

/* Image and title */

.hero {
    display: flex;
    gap: 16px;
    /* padding: 8px; */
    justify-content: center;
    align-items: center;
    margin: 0 auto 32px;  
    width: auto;
    flex-wrap: wrap;
    min-width: 320px;
}

.information {
  /* padding: 8px;   */
  width: 24%;
  /* flex: 0; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 320px;
  max-width: 1000px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-width: 320px;
    max-width: 1000px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
}

.hero-text {
    padding-bottom: 8px;
}

.button {
    background-color: #3882f6;
    border-radius: 5px;
    border: solid 0px;
    color: white;
    padding: 8px 24px;
    width: 25%;
    flex-shrink: 0;
}

/* Main content */

.container {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 0 5% 0;
    /* flex-wrap: wrap; */
}

.item-content {

    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 10%;
    justify-content: center;
    align-items: center;

}

.image-content {
    width: 100%;
    height: 100%;
    border: solid #3882f6 5px;
    border-radius: 10px;
}

.item-text {
    text-align: center;
    width: 80%;
    margin: 0;
}

/* Quote */

.quote {
    background-color: #e5e7eb;
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 24px; */
}

.quote-text  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    /* text-align: justify; */
    font-size: 36px;
    margin: 0;
    font-style: italic;
    font-weight: lighter;
}

.autor-quote {
    justify-content: flex-end;
    display: flex;
    margin: 0 75px 0 0;
    width: 50%;
    font-weight: bold;
}

/* Register sign */

.register {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.register-sign {
    background-color: #3882f6;
    display: flex;
    width: 50%;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    padding: 3%;
    border-radius: 8px;
    flex-wrap: wrap;
}

.main {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.register-tittle, .register-text {
    margin: 0;
    color: white;
}

.register-tittle {
    font-weight: bold;
}

button {
    padding: 8px;
    width: 100px;
    background-color: inherit;
    border: 1px solid;
    border-radius: 5px;
    color: white;
}